.header-bg {
  background-color: var(--branco);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--azul-medio);
  font-weight: 700;
}

.header-menu a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .header {
     justify-content: center;
  }
}